<p>forgot-password works!</p>
<!-- <link rel="shortcut icon" href="https://www.hawkhr.com/favicon.ico">
<header>
    <div class="bg"> 
        <img src="https://www.hawkhr.com/img/logo-light.png" alt="Hawk HR" class="logo">
    </div>    
</header>
<br>

<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)" >
    <div class="container">
        
        
            
        <label>Email:</label><br>
            <input type="email" placeholder="Email" id="email" name="email" formControlName="email">
            <div *ngIf="!forgotPasswordForm.get('email')?.errors?.['required'] && (forgotPasswordForm.get('email')?.errors?.['pattern'])">
                <h6><span style="color:red">*Please enter a valid email</span></h6>
            </div>
            <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched) && forgotPasswordForm.get('email')?.errors?.['required']">
                <h6><span style="color:red">*Email is required</span></h6>
            </div><br><br>
        <input type="submit" value="Send OTP" >
   

    </div>
    </form>

   -->

<!--  
   <div class="container padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="forgot">
            
            <h2>Forgot your password?</h2>
        <p>Change your password in three easy steps. This will help you to secure your password!</p>
        <ol class="list-unstyled">
          <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
          <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
          <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
        </ol>

        </div>	
        
        <form class="card mt-4" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
        
          <div class="card-body">
            <div class="form-group">
              <label for="email-for-pass">Enter your email address</label>
              <input type="email" placeholder="Email" id="email" name="email" formControlName="email">
            <div *ngIf="!forgotPasswordForm.get('email')?.errors?.['required'] && (forgotPasswordForm.get('email')?.errors?.['pattern'])">
                <h6><span style="color:red">*Please enter a valid email</span></h6>
            </div>
            <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched) && forgotPasswordForm.get('email')?.errors?.['required']">
                <h6><span style="color:red">*Email is required</span></h6>
            </div><br><br>
            </div>
          </div>
          <div class="card-footer">
          
           
            <button class="btn btn-success" type="submit">Get New Password</button>
            <button class="btn btn-danger" type=""><a></a>Back to Login</button>
          </div>
         
        </form>
      </div>
    </div>
  </div> -->

  <div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h1 class="h2">Forgot Your password</h1>
                    <p class="lead">
                        Enter your email to reset your password.
                    </p>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form class="card mt-4" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
                                <div class="form-group">
                                   
                                
                                    <label for="email-for-pass"><b>Enter your email address:</b></label><br><br>
                                    <input class="form-control form-control-lg" type="email" placeholder="Email" id="email" name="email" formControlName="email">
                                  <div *ngIf="!forgotPasswordForm.get('email')?.errors?.['required'] && (forgotPasswordForm.get('email')?.errors?.['pattern'])">
                                      <h6><span style="color:red">*Please enter a valid email</span></h6>
                                  </div>
                                  <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched) && forgotPasswordForm.get('email')?.errors?.['required']">
                                      <h6><span style="color:red">*Email is required</span></h6>
                                  </div><br><br>
                                  </div>
                               
                                <div class="text-center mt-3">
                              
                                    <button class="btn btn-success" type="submit">Get New Password</button>
                                    <!-- <button type="submit" class="btn btn-lg btn-primary">Reset password</button> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
