









     <div class="container bootstrap snippets bootdey">
            <div class="row">
                <div class="col-md-4">
                    <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar2.png" data-original-title="Usuario"> 
                    <ul title="Ratings" class="list-inline ratings text-center">
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <strong>Information</strong><br>
                    <div class="table-responsive">
                    <table class="table table-user-information">
                        <tbody>
                      
                            <tr>    
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-primary"></span>    
                                        Name                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{data.name}}     
                                </td>
                            </tr>
                           
        
                    
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                        Email                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{data.email}} 
                                </td>
                            </tr>
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                        Id                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{data.userId}}
                                </td>
                            </tr>
                            <!-- <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                        Mobile No                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{suppliers.mobile}}
                                </td>
                            </tr>                                     -->
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
                                            