<link rel="shortcut icon" href="https://www.hawkhr.com/favicon.ico">
<header>
    <div class="bg"> 
        <img src="https://www.hawkhr.com/img/logo-light.png" alt="Hawk HR" class="logo">
    </div>    
</header>
<br>



<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h1 class="h2">Reset Your password</h1>
                    <p class="lead">
                      
                    </p>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form class="card mt-4"[formGroup]="verifyOtpForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                   
                                    <label for="otp">OTP</label>
                                    <br/>
                                    <input type="text" formControlName="otp" >
                                    <br/>
                                    <div class="form-group" *ngIf="verifyOtpForm.get('otp')?.touched && verifyOtpForm.get('otp')?.errors?.['required'] && verifyOtpForm.get('otp')?.invalid">
                                        <h6><span style="color:red">*OTP is required</span></h6>
                                    </div>
                                    <label for="newPassword">New Password</label>
                                    <br/>
                                    <input type="password" formControlName="newPassword" >
                                    <br/>
                                    <div class="form-group" *ngIf="verifyOtpForm.get('newPassword')?.touched && verifyOtpForm.get('newPassword')?.errors?.['required'] && verifyOtpForm.get('newPassword')?.invalid">
                                        <h6><span style="color:red">*New Password is required</span></h6>
                                    </div>
                                    <label for="cnewPassword">Confirm Password</label>
                                    <br/>
                                    <input type="password" formControlName="cnewPassword" >
                                    <br/>
                                    <div class="form-group" *ngIf="verifyOtpForm.get('cnewPassword')?.touched && verifyOtpForm.get('cnewPassword')?.errors?.['required'] && verifyOtpForm.get('cnewPassword')?.invalid">
                                        <h6><span style="color:red">*Confirm Password is required</span></h6>
                                    </div>
                                 
                                    <!-- <button type="submit">Verify</button><br> -->
                                 
                              
                              
                                    <button class="btn btn-success" type="submit">Verify</button>
                                   
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
