  
<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">SCM</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="supplier" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
            
          </a>
        </li>

        <li>
          <a href="supplierlist2">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Supplier list</span>
          </a>
        </li>

        <li>
          <a href="chat-supplier">
            <i class='bx bx-chat'></i>
            <span class="links_name">Chat</span>
          </a>
        </li>
        <li>
          <a href="change-supplierpassword">
            <i class='bx bx-menu-alt-right' ></i>
            <span class="links_name">Change Password</span>
          </a>
        </li>
        <li class="log_out">
          <a href (click)="logout()">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <!-- <i class='bx bx-menu sidebarBtn'></i> -->
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input class="form-control searchbtn" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="Search....">
   
        <i class='bx bx-search' ></i>
      </div>
  
      <div class="profile-details">
     
        <span class="admin_name"></span>
        <!-- <i class='' >{{ema}}</i> -->
        <!-- <a href="supplier-profile">
          <i class=''>{{ema}}</i> -->

          <span class="admin_name">{{ema}}</span>
          <button mat-button (click)="show()" class='bx bx-chevron-down' href="supplier-profile"></button>
        </div>
      
    </nav>


    <div class="home-content">
        <div class="overview-boxes">
        
        </div>
  
  
             
        <div class="sales-boxes">
          
          <div class="recent-sales box">
  
            
            <div class="title" > </div>
            
  
  
            <div class="sales-details">
              <table id="customers">
              <ul class="details">
                <div class="container my-5">
                  <br><br>
                  <div class="card-body text-center">
  
  
               <h4 class="card-title">Change Password</h4>
               <p class="card-text"></p>
             </div>
       
           <form [formGroup]="form" (ngSubmit)="passwordForm(form)">
          
   
            
            <fieldset>
          
          
            <label for="oldpassword" class="mid"> Old Password:</label>
            <input type="password" formControlName="oldpassword" id="oldpassword" value=""  tabindex="1" >
          
            <label for="newpassword" class="mid">New password:</label>
            <input type="newpassword" formControlName="newpassword" id="newpassword" value=""  tabindex="2" >
              
            <label for="confirmpassword" class="mid">Confirm Password:</label>
            <input type="confirmpassword" formControlName="confirmpassword" id="confirmpassword" value="" tabindex="3" >
        
          
            </fieldset>
            
          
            <input  type="submit" class="btn btn-success"  value="Add ">
            
          </form>
           
          
        </div>
    </ul>
    </table>
  </div>
</div>
</div>
</div>
</section> 



  
  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>


  
      
      
  

