<!DOCTYPE html>
<html>
    <title>Footer</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footer</title>
    <link rel="stylesheet" href="footer.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="footer">
  
    <footer class="text-center text-white" style="background-color: #000000">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Links -->
        <section class="mt-5">
          <!-- Grid row-->
          <!-- <div class="row text-center d-flex justify-content-center pt-5"> -->
            <!-- Grid column -->
            <!-- <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="purchaser" class="text-white">About us</a>
              </h6>
            </div> -->
            <!-- Grid column -->
  
            <!-- Grid column -->
            <!-- <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="purchaser" class="text-white">Products</a>
              </h6>
            </div> -->
            <!-- Grid column -->
  
            <!-- Grid column -->
            <!-- <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="purchaser" class="text-white">Awards</a>
              </h6>
            </div> -->
            <!-- Grid column -->
  
            <!-- Grid column -->
            <!-- <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="purchaser" class="text-white">Help</a>
              </h6>
            </div> -->
            <!-- Grid column -->
  
            <!-- Grid column -->
            <!-- <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="purchaser" class="text-white">Contact</a>
              </h6>
            </div> -->
            <!-- Grid column -->
          <!-- </div> -->
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-5" />
  
        <!-- Section: Text -->
        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                Supply chain management is the handling of the entire production 
                flow of a good or service — starting from the raw components all 
                the way to delivering the final product to the consumer. A company 
                creates a network of suppliers (“links” in the chain) that move the 
                product along from the suppliers of raw materials to those organizations 
                that deal directly with users.
              </p>
            </div>
          </div>
        </section>
        <!-- Section: Text -->
  
        <!-- Section: Social -->

        <!-- Section: Social -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2020 Copyright:
        <a class="text-white" 
           >Scm.com</a>
  </div>
</footer>
</div>
</body>
</html>
